@font-face {
    font-family: 'Junicode';
    src: url('Junicode-Regular.woff2') format('woff2'),
        url('Junicode-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

