@font-face {
    font-family: 'Junicode-Regular';
    src: url(fonts/Junicode-Regular.ttf) format(ttf),
}

html {
	padding: 0;
}

body {
	padding: 0;
	background-color: black;
	color: white;
	text-align: center;
}